:root {
    --mono-blue: #1c4693;
    --mono-cherry: #d81e5b;
    --mono-mint: #59c9a5;
    --mono-yellow: #fffc47;

    --mono-light-1: #fffec2;

    --mono-dark-1: #220c10;
    --mono-dark-blue: #0d2045; /* dark blue */
    --mono-dark-red: #a21645;

    --dark-ui-bg: var(--mono-dark-blue);
    --dark-ui-element: var(--mono-dark-red);

    --card-radius: 8px;
    
}
